<div class="card-content text-align-center">
<h2 class="mt-3"><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>category: <%= @restaurant.category %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
</div>

<div class="btn-group" role="group" aria-label="Basic outlined example">
<%= link_to "Edit restaurant", edit_restaurant_path, class:"btn btn-outline-primary" %>
<%= link_to 'Reviews', restaurant_reviews_path(@restaurant), class:"btn btn-outline-primary" %>
<%= link_to "Back to all restaurants", restaurants_path, class:"btn btn-outline-primary" %>
</div>

<h3 class="mt-3">Add a review here !</h3>
<%= render 'reviews/form' %>
